# Binary files:
bin/client
bin/server
bin/editor
bin/loader_3ds
bin/debug-client
bin/debug-server
bin/debug-editor
bin/profile-client
bin/profile-server
bin/profile-editor

# Compiled files:
*.d
*.o

# Log files:
*.log

# Editor backup files (not supposed to be in here, but who cares):
*~
*.swp

# Misc files:
gmon.out
.sconsign.dblite
html

# Client's temporary files:
bin/myKeys

# Visual studio temporary files:
windows/diablo2.suo
windows/Debug
windows/Release
windows/server

