# Binary files:
bin/client
bin/server
bin/editor
bin/loader_3ds

# Compiled files:
*.d
*.o

# Log files:
*.log

# Editor backup files (not supposed to be in here, but who cares):
*~
*.swp

# Misc files:
gmon.out
